<div class="heading">
        <div class="leftHeading">
            <button class="leftExpand" >
                <span class="expand"> ☰ </span>
            </button>
            <span class="leftHeadingContent">
                CP PORTAL
            </span>
        </div>
        <div class="rightHeading">
            <button id="loginButton" class="btn btn-success"> Login/Signup</button>
        </div>
</div>

    <div class="expandContent">
        <div class="listItems">
            <ul>
                <a class="linkTo" href="/profile"><li> Profile </li></a>
                <a class="linkTo" href=""><li> To-Do </li></a>
                <a class="linkTo" href=""><li> Favorite </li></a>
                <a class="linkTo" href="/randomProblems"><li> Problems </li></a>
            </ul>
        </div>
</div>