*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#body{
    width: 100vw;
    height: 100vh;
    color: black;

}


.container{
background-color:black;
display: flex;
width: inherit;
height: inherit;
flex-direction: row;
}
.leftContainer{
width: 30%;
height: inherit;
}
.rightContainer{
    width: 70%;
    background-color: white;
    height: inherit;
}