*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#body{
    width: 100vw;
    height: 100vh;
    color: black;

}


.container{
background-color:black;
display: flex;
width: inherit;
height: inherit;
flex-direction: row;
}
.leftContainer{
    float: left;
    width: 33.33%;

height: inherit;
}
.rightContainer{
    width: 70%;
    background-color: white;
    height: inherit;
}
img{
    padding: 1vw;
    height: 27vh;
    width: 32vh;
}