*{
	margin: 0;
	box-sizing: border-box;
}
.leftContent{
	display: flex;
	flex-direction: column;
	font-family: 'Edu SA Beginner', cursive;
	width: 70%;
	border: 2px solid #F9EAE5;
	height: 50vh;
	display: inline-block;
	text-align: center;
	color: #CFB3CD;	
}
.rightContent{
	font-family: 'Edu SA Beginner', cursive;
	display: flex;
	flex-direction: column;
	height: 50vh;
	width: 30%;
	float: inline-end;
	text-align: center;		
	
}

.contentContainer{
	margin-top:20vh;
	display: flex;
	flex-direction: row;
	height:100%;
}
.rightTop{
	height: 20vh;
	color: #CFB3CD;
	border: 2px solid #F9EAE5;
	
}
.rightBottom{
	height: 20vh;
	color: #CFB3CD;
	border: 2px solid #F9EAE5;
}