*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    position:relative;
}



.heading{
    position: absolute;
    z-index: 10;
    width:100%;
    background-color: rgb(19, 19, 19);
    height:15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftHeading{
    margin:1vw;
    z-index: 10;
    /* padding-left:2vw;
    padding-top: 3vh;
    padding-bottom: 2vh; */
}
.leftHeadingContent{
    color:white;
    margin:1vw;
    font-size:6vh;
    font-family: 'Arima', cursive;
    text-shadow: 2px 2px 5px rgb(130, 130, 138);
}

.leftExpand{
    margin:1vw;
    background-color: black;
    width:4vw;
}

.expand{
    font-size:6vh;
    color:white;
    /* height:8vh; */
}

.rightHeading{
    margin:1vw;
}

#loginButton{
    font-size:3vh;
}

.expandContent{
    width:30%;
    border: 10px solid black;
    position:absolute;
    top:0;
    z-index: 1;
    height:100vh;
    background-color:rgb(69, 64, 64);
    display:none ;
    /* margin:5vw; */
}
.listItems{
    height:75%;
    margin:5vw;
    margin-top:20vh;
    padding:2vw 0; 
    display: flex;
    flex-direction: column;
}
li{
    border-bottom: 5px solid black;
    margin-bottom:4vw;
    font-size:4vh;
    color:white;
    list-style: none;
}
li:hover {
    border-bottom: 5px solid skyblue;
    font-size:5vh;
}
.linkTo{
    text-decoration: none;
}
.main{
    position:absolute;
    top:15vh;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    background-color:rgb(45, 42, 42);
}
.leftContent{
    width:70%;
    margin:1vw;
    border:3px outset black;
    display:flex;
    padding-top:2vw;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.leftSubContent{
    margin:1vw;
    border:1px solid rgb(167, 161, 161);
    border-radius:10px;
    width:90%;
    height:20vh;
    display:flex;
    flex-direction: row;
    align-items:center;
}

.rightContent{
    width:25%;
    margin:1vw;
    border:3px outset black;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.rightTopContent, .rightDownContent{
    margin:1vw;
    width:90%;
    border:1px solid rgb(167, 161, 161);
    border-radius:5px;
    height:50vh;
}

.platformIcon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:15%;
}

.platformIconImg{
    width:80%;
    height:85%;
}

.contestInfo{
    display:flex;
    margin-left:3vw;
    flex-direction: column;
    width:55%;
    height:80%;
    /* border:1px solid yellow; */
}
.contestName{
    font-size:3vh;
    color:white;
    font-weight:2px;
}

.contestStartTime{
    margin-top:1vw;
    font-size:2.5vh;
    color:white;
}

.contestEndTime{
    font-size:2.5vh;
    color:white;
    direction:rtl;
}
.contestLink{
    width:10%;
    height:80%;
    margin-left:auto;
    margin-right:1vw;
    background-color: rgb(95, 93, 93);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#contestLinkImage{
    width:100%;
}


@media screen and (max-width: 768px){
    .leftHeadingContent{
        font-size: 3vh;
    }
    .leftExpand{
        width:3vw;
    }
    .expand{
        font-size:3vh;
    }
    #loginButton{
        font-size: 1vh;
    }
    .expandContent{
        width:75%;
    }
    .listItems{
        margin:3vw;
        margin-top:20vh;
    }
    li{
        font-size:2.5vh;
    }
    li:hover{
        font-size: 3vh;
    }
    .main{
        flex-direction: column-reverse;
    }
    .rightContent{
        width:100%;
        /* justify-content: center;
        align-content: center;
        justify-items: center; */
        align-items: center;
    }
    .rightTopContent, .rightDownContent{
        width:90%;
        height:10vh;
    }
    .leftContent{
        width:100%;
    }
    .leftSubContent{
        height: 15vh;
    }
    .platformIcon{
        height:50%
    }
    .contestName{
        font-size:2vh;
    }
    .contestStartTime{
        font-size:1.5vh;
    }
    .contestEndTime{
        font-size:1.5vh;
    }
}