*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    position:relative;
}



.heading{
    position: absolute;
    z-index: 10;
    width:100vw;
    background-color:black;
    height:15vh;
    opacity: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftHeading{
    margin:1vw;
    z-index: 10;
    opacity: 100%;
    /* padding-left:2vw;
    padding-top: 3vh;
    padding-bottom: 2vh; */
}
.leftHeadingContent{
    /* font-family: Elianto; */
    color:white;
    margin:1vw;
    font-size:6vh;
    text-shadow: 1.5px 1.5px 8px rgb(130, 130, 138);
}

.leftExpand{
    margin:1vw;
    background-color: transparent;
    width:4vw;
    border-style: none;
    border-radius: 1vw;
}

button.leftExpand:hover{
    background-color: black;
    opacity: 50%;
    transition: 0.5s;
}

.expand{
    font-size:6vh;
    color:white;
    text-shadow: 1.5px 1.5px 8px rgb(130, 130, 138);

    /* height:8vh; */
}

.rightHeading{
    margin:1vw;
}

#loginButton{
    font-size:3vh;
}

.expandContent{
    width:30%;
    border: 10px solid black;
    position:absolute;
    top:0;
    z-index: 1;
    height:100vh;
    background-color:rgb(69, 64, 64);
    display:none ;
    /* margin:5vw; */
}
.listItems{
    height:75%;
    margin:5vw;
    margin-top:20vh;
    padding:2vw 0; 
    display: flex;
    flex-direction: column;
}
li{
    border-bottom: 5px solid black;
    margin-bottom:4vw;
    font-size:4vh;
    color:white;
    list-style: none;
}
li:hover {
    border-bottom: 5px solid skyblue;
    font-size:5vh;
}
.linkTo{
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .heading{
        height: 10vh;
    }
    .leftHeadingContent{
        font-size: 3vh;
    }
    .leftExpand{
        width:8vw;
    }
    .expand{
        font-size:3vh;
    }
    #loginButton{
        font-size: 2vh;
    }
    .expandContent{
        width:75%;
    }
    .listItems{
        margin:3vw;
        margin-top:20vh;
    }
    li{
        font-size:2.5vh;
    }
    li:hover{
        font-size: 3vh;
    }
}