        /* .box{
            border:black;
            height: 400px;
            width: 300px;
            background-color:rgba(0, 0, 0, 0.534);
        }
        #box
        {
            position: relative;
            left:300px;
            top:100px;
        } */
        .btn
        {
            position: relative;
            top:16px;
            background-color:black;
            height:51px;
            width:74px;
            border:rgba(255, 255, 255, 0.368);
            color: rgb(245, 245, 245);
        }
        .heading
        {
            position: relative;
            top:-50px;
            left:60px;
            color:white;
            margin:1vw;
            font-size:6vh;
            font-family: 'Arima';
            text-shadow: 2px 2px 5px rgb(130, 130, 138);
            background-color: black;
            height:50px;
            width:1435px;
        }
        .bt
        {
            position: relative;
            left:1350px;
            top:-105px;
            color: white;
            background-color: green;
            height: 30px;
            border: green;
            border-radius: 3px;
            font-size:3vh;
        }
        .box1
        {
            border:black;
            height: 400px;
            width: 300px;
            background-color:rgba(0, 0, 0, 0.534);
            position: relative;
            left:600px;
            top:60px;
        }
        .login
        {
            position: relative;
            left:110px;
            top:10px;
            font-size: x-large;
            font-family:Arial, Helvetica, sans-serif;
        }
        .username1
        {
            font-family: sans-serif;
            position: relative;
            top:45px;
            left:5px;
        }
        .password1
        {
            font-family: sans-serif;
            position: relative;
            top:80px;
            left:7px;
        }
        .submit1
        {
            position: relative;
            top:120px;
            left:125px;
        }
        .forgotpass
        {
            position: relative;
            top:160px;
            left:10px;
        }
        .usegmail
        {
            position: relative;
            top:140px;
            left:200px;
        }
        .btn1
        {
            position:relative;
            top:210px;
            left:120px;
        }
        /* .username
        {
            font-family: sans-serif;
            position: relative;
            top:40px;
            left:5px;
        }
        .name
        {
            font-family: sans-serif;
            position: relative;
            top:60px;
            left:35px;
        }
        .age
        {
            font-family: sans-serif;
            position: relative;
            top:80px;
            left:50px;
        }
        .institute
        {
            font-family: sans-serif;
            position: relative;
            top:100px;
            left:20px;
        }
        .email
        {
            font-family: sans-serif;
            position: relative;
            top:120px;
            left:15px;
        }
        .password
        {
            font-family: sans-serif;
            position: relative;
            top:140px;
            left:5px;
        }
        .submit
        {
            font-family: sans-serif;
            position: relative;
            top:180px;
            left:110px;
        }
        .reg
        {
            position: relative;
            left:50px;
            top:5px;
            font-size: x-large;
            font-family:Arial, Helvetica, sans-serif;
        } */
