*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
  }
.heading
{
    border-color: rgba(0, 0, 0, 0.216);
    background-color:rgba(0, 0, 0, 0.675);
    color: silver;
    width: 100%;
    height: 100vh;   
    font-size: 5vh;
    display: flex;
    flex-direction: row;
}
.box
{
    border-width: 2px;
    border-color:silver;
    border-style: solid;
    border-radius: 5px;
    background-color:rgba(22, 12, 12, 0.707);
    color: silver;
    width: 70vw;
    height: 15vh;  
    margin:5vh; 
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#filterbox
{
    border-width: 2px;
    border-color:silver;
    border-style: solid;
    background-color:rgba(0, 0, 0, 0.638);
    color: silver;
    font-size: 1vh;
    width:40vw;
    height:30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:50px;
}
.filter
{
    font-size: 4vh;
}
.ratings
{
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    margin: 1vh;
}
.Platforms
{
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    margin: 1vh;
}
.applybutton
{
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin: 2vh;
}
.applybutton input
{
    padding: 4px 10px;
    background-color: silver;
    border-radius:5px;
}
.ratinghead
{
    font-size: 3vh;
    margin: 1vh;
}
.platformhead
{
    font-size: 3vh;
}
.arrow
{
    background-color:rgba(58, 58, 58, 0.86);
    display: flex;
    align-items: center;
    justify-content: center;
}
